# Vivado generated folders
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.xil/

# Vivado temp files
*.jou
*.log
*.str
*.pb
*.wdf
*.vdi
*.vds
*.rpt
*.rpx
*.dcp

# Bitstream
*.bit
*.bin

# Temp
*.tmp
*.backup

# OS
.DS_Store
Thumbs.db